.search-form {
  line-height:32px;
  &__field {
    --mdc-filled-text-field-container-color: rgba(255, 255, 255, 0.2);

    ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
      top: 37px;
    }
  }
}