.mdc-card {
  height: 100%;
}

.mdc-card__media {
  width: 100%;
}

mat-card-actions {
  display: flex;
  margin-top: auto;
}

.mat-mdc-chip.mat-mdc-standard-chip {
  --mdc-chip-label-text-size: .8em;
  --mdc-chip-container-height: 22px;
}

.muted {
  font-size: .85em;
  color: #999999;
}
