<mat-card matRipple data-role="button" class="item-card" (click)="navigate()">
  <mat-card-header>
    <img mat-card-image [src]="post.teaser" alt="">
  </mat-card-header>
  
  <mat-card-content>
    <mat-chip-set>
      <mat-chip data-role="button">{{ Category[post.category] }}</mat-chip>
    </mat-chip-set>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <span class="muted">{{ post.date | date : 'longDate' }} | {{ post.readingTime }}</span>
    <p>
      {{ post.excerpt }}
    </p>
    @for (author of post.authors; track $index) {
      <blog-author [author]="author"></blog-author>
    }
  </mat-card-content>
  <mat-card-actions>
    <blog-read-more-button [link]="post | postUrl"></blog-read-more-button>
  </mat-card-actions>
</mat-card>