<div class="post">
  @if (post$ | async; as post) {
    <header class="post__header">
      <div class="post__header-content">
        <mat-chip-set aria-label="Category selection">
          <mat-chip data-role="button" (click)="navigate('categories/' + post.category)">{{ post.category | titlecase }}</mat-chip>
        </mat-chip-set>
        <h1>{{ post.title }}</h1>
        <h2>{{ post.excerpt }}</h2>
        @if (authors$ | async; as authors) {
          @for (author of authors; track $index) {
            <blog-author [author]="author" size="lg"></blog-author>
          }
        }
      </div>
      <div class="post__header-image">
        <img [src]="post.teaser" alt="">
      </div>
    </header>
    <div class="center-container post__content">
      <markdown
        [src]="post.permalink + '/post.md'">
      </markdown>
    </div>
  }

  @if (relatedPosts$ | async; as relatedPosts) {
    @if (relatedPosts.length) {
      <blog-divider></blog-divider>
      <div class="center-container">
        <h3>Continue the Journey: Explore Related Posts</h3>
        <div class="post__related-posts">
          @for (relatedPost of relatedPosts; track $index) {
            <blog-post-item [post]="relatedPost"></blog-post-item>
          }
        </div>
      </div>
    }
  }
</div>
