.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px;
}

h2 {
  display: block;
  text-align: center;
}

mat-card {
  display: flex;
  flex-direction: row;
  padding: 16px;

  .image {
    width: 250px;
  }

  .title {
    margin: 0;
    padding: 0 16px;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
  }
}

img {
  width: 100%;
}