:host {
  position: relative;
  z-index: 4;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.horizontal {
  .mat-mdc-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .mat-mdc-list-item {
    width: auto;
  }
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .close-button-container {
    display: flex;
    justify-content: flex-end;
  }
}