<div class="home">
  @if(posts$ | async; as posts) {
    <blog-post-featured [post]="posts.highlightedPost"></blog-post-featured>

    <div class="spacer"></div>

    @if (categories$ | async; as categories) {
      <blog-categories
        [categories]="categories"
        (selected)="filterCategory($event)"
      ></blog-categories>
    }

    <div class="home__grid-container center-container">
      @if (authors$ | async; as authors) {
        @for(post of posts.posts; track post) {
          <blog-post-item
            [post]="post"
            [authors]="authors | postAuthors : post.authors"
          ></blog-post-item>
        }
      }
    </div>

    <div class="center-container">
      <mat-paginator
        [length]="total"
        [pageSize]="postPerPage"
        [showFirstLastButtons]="true"
        [pageIndex]="currentPage$$ | async"
        (page)="navigate($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
  }
  @else {
    <mat-spinner></mat-spinner>
  }

  <blog-divider></blog-divider>

  <blog-engineering-content></blog-engineering-content>
  
  <blog-jobs></blog-jobs>
</div>
